install
url --url http://172.16.0.1/touchstone-1.0.0-1.n1313/centos5
lang en_US.UTF-8
keyboard us
timezone --utc America/New_York

# Security and Firewall
xconfig --startxonboot
authconfig --enableshadow --enablemd5
rootpw admin123
firewall --disabled
selinux --disabled

# Disks
bootloader --location=mbr --driveorder=sda --append="rhgb quiet"
zerombr yes
clearpart --all --drives=sda --initlabel
part /boot --fstype ext3 --size=500 --ondisk=sda
part pv.6 --size=0 --grow --ondisk=sda
volgroup VolGroup00 --pesize=32768 pv.6
logvol / --fstype ext3 --name=LogVol00 --vgname=VolGroup00 --size=1024 --grow
logvol swap --fstype swap --name=LogVol01 --vgname=VolGroup00 --size=1936 --grow --maxsize=3872

# Network interfaces
network --bootproto=dhcp --device=eth0 --onboot=on
network --bootproto=static --device=eth1 --ip=1.1.1.1 --netmask=255.0.0.0 --onboot=on
network --bootproto=static --device=eth2 --ip=2.2.2.2 --netmask=255.0.0.0 --onboot=on

# Users
user --name=admin --homedir=/home/admin --password=admin123

# Packages
%packages
@base
@core
@editors
@gnome-desktop
@graphical-internet
@graphics
@text-internet
@base-x
keyutils
iscsi-initiator-utils
trousers
fipscheck
device-mapper-multipath
sgpio
emacs
gimp-help
libsane-hpaio
gimp-data-extras
gimp
xorg-x11-utils
xorg-x11-server-Xnest

# Pre-install
%pre
mkdir -p /root/distib
wget -P /root/distrib http://172.16.0.1/touchstone-1.0.0-1.n1313/distrib/CentOS-5.10-x86_64-bin-DVD-1of2.iso
wget -P /root/distrib http://172.16.0.1/touchstone-1.0.0-1.n1313/distrib/igb-5.0.5.tar.gz
wget -P /root/distrib http://172.16.0.1/touchstone-1.0.0-1.n1313/distrib/igb.conf
wget -P /root/distrib http://172.16.0.1/touchstone-1.0.0-1.n1313/distrib/IQProbe-4.7.18.ATT.SXL-000.x86_64.rpm
wget -P /root/distrib http://172.16.0.1/touchstone-1.0.0-1.n1313/distrib/IQProbe.cfg
%end

# Post-install
%post --nochroot
chkconfig --level 0123456 NetworkManager off
%end

